<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">

</head>
<body>

<img class="mainlogo" src="Kepek/logooo.png" alt="webpincer" width="20%" >
<table class="menu" align="center">
    <tbody>
    <tr>
        <td><a href="index.html"><img class="icon" src="Kepek/home.png" alt="Home" ></a></td>
        <td><a href="kereses.html"><img class="icon" src="Kepek/search.png" alt="search" ></a></td>
        <td><img class="icon" src="Kepek/kosar.png" alt="kosar" ></td>
        <td><a href="profile.html"><img class="icon" src="Kepek/profile.png" alt="profile" ></a></td>
    </tr>
    <tr>
        <td>Kezdőlap</td>
        <td>Keresés</td>
        <td>Éttermek</td>
        <td>Profil</td>
    </tr>
    </tbody>
</table>

<div class="bigpage">
    <div class="logintable">
    <h4>E-mail cím:</h4>
    <input type="text" id="name" name="nev" placeholder="Név" value="placeholder@webpincer.hu">
    <h4>Név:</h4>
    <input type="text" id="email" name="email" placeholder="E-mail cím" value="Placeholder Pacman">
    <h4>Telefonszám:</h4>
    <input type="text" id="phone" name="telefon" placeholder="Telefonszám" value="1414">
    <h4>Cím:</h4>
    <input type="number" id="postcode" name="iranyitoszam" placeholder="Irányítószám" value="9999"><input type="text" id="cityname" name="varos" placeholder="Város" value="Szeged">
    <input type="text" id="street" name="utca" placeholder="Utca" value="Rendszer fejlesztés utca"><input type="number" id="streetnumber" name="hazszam" placeholder="Szám" value="1"><input type="text" id="other" name="cimmaradek" placeholder="Cím maradék">
    <input type="submit" value="Mentés">
</div></div>
<footer>
    <hr>
    <p></p>
    <p></p>
    <table class="menu" align="center">
        <tbody>
        <tr>
            <td ><a href="kapcsolatok.html" style="color:white"> Kapcsolatok </a></td>
            <td ><a href="ászf.html" style="color:white">  ÁSZF</a></td>
        </tr>
        </tbody>

    </table>
    <p></p>
    <p></p>
    <hr>
</footer>
</body>
</html>