<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/3de6b5ab59.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>

<%- include("header.ejs", {authUser:authUser}) %>

<div class="left">

    <p>
    <h1>Kapcsolatfelvétel</h1></p>


    <p><b> Keressen telefonon, vagy írjon üzenetet az alábbi űrlap segítségével! A válasz hamarosan érkezni fog!</b></p>
    <img src="Kepek/emailvonal.png" width="100%">
    <form method="post" action="/sendEmailToUs">
		<input type="text" id="sender_name" name="sender_name" placeholder="Név" required> <input type="email" id="sender_email" name="sender_email" placeholder="Email cím" required>
		<input type="tel" id="sender_phonenumber" name="sender_phonenumber" placeholder="Telefonszám" required> <input type="text" id="sender_subject" name="sender_subject" placeholder="Tárgy" required>
		<textarea  id="sender_text" name="sender_text"  placeholder="Üzenet szövege" ></textarea>
		<input type="submit" class="btn btn-warning"></input>
    </form>
</div>
<div class="right">
    <p>
    <h1>Általános céginformációk</h1></p>
    <p><b>Üzemeltető:</b> Rf1 kurzus, D csoport </p>
    <p><b> Székhely, levelezési cím:</b> 6720 Szeged, Aradi vértanúk tere 1.</p>
    <p><b> Telefon:</b> +36 30 030 3030</p>
    <p><b> E-mail:</b>webpincer@gmail.com</p>
    <p><b> Adószám:</b> 66965831-1-22</p>
    <p><b> Közösségi adószám:</b> HU66965831</p>
    <p><b> Nyilvántartási szám:</b> 41618490</p>
    <p><b> Ügyfélfogadás:</b> Előzetes egyeztetés alapján!</p>
    <p><b> Általános szerződési feltételek:</b> <a href="/aszf" style="color:black" target="_blank"> ÁSZF</a></p>
    <p><b> Honlap:</b> www.webpincer.hu</p>
    <p><b> Adatkezelési tájékoztató:</b> <a href="/aszf" style="color:black" target="_blank"> ÁSZF</a></p>


</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>



<footer>
    <hr>
    <p></p>
    <p></p>
    <table class="menu">
        <tbody>
        <tr>
            <td ><a href="/kapcsolatok" style="color:white"> Kapcsolatok </a></td>
            <td ><a href="/aszf" style="color:white" target="_blank">  ÁSZF</a></td>
        </tr>
        </tbody>

    </table>
    <p></p>
    <p></p>
    <hr>
</footer>
</body>
</html>