<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/3de6b5ab59.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light" >

    <div class="container-fluid justify-content-center">
        <a class="navbar-brand"><img class="navbar-brand" src="Kepek/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <li  class="nav-item"><a class="nav-link" href="/" ><i class="fas fa-home"></i>Kezdőlap</a></li>
                <li  class="nav-item"><a class="nav-link" href="/kereses" ><i class="fas fa-search"></i>Éttermek</a></li>
                <li class="nav-item"><a class="nav-link" href="/login" ><i class="fas fa-user"></i>Profil</a></li>


            </ul>
        </div>
    </div>
</nav>

<div class="text-center">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-warning">Kínai</button>
        <button type="button" class="btn btn-warning">Édesség</button>
        <button type="button" class="btn btn-warning">Pizza</button>
    </div>
</div>

<div class="row row-cols-1 row-cols-md-2 "   style="max-width: 1600px; padding-left: 350px;">
    <%
    for(let i=0;i<users.length;i++){%>
    <div class="mx-center">
        <div class="card mb-3 " style="max-width: 540px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"> <%=users[i].name%></h5>
                        <p class="card-text">Nyitvatartás: <%=restaurants[i].opens%> - <%=restaurants[i].closes%></p>
                        <small class="text-muted">Szállítási költség: <%=restaurants[i].cprice%> ft</small>
                        <a class="btn btn-warning" href="/restaurant" role="button">Megnéz</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%}%>
</div>


<footer>
    <hr>
    <p></p>
    <p></p>
    <table class="menu" align="center">
        <tbody>
        <tr>
            <td ><a href="/kapcsolatok" style="color:white"> Kapcsolatok </a></td>
            <td ><a href="/aszf" style="color:white">  ÁSZF</a></td>
        </tr>
        </tbody>

    </table>
    <p></p>
    <p></p>
    <hr>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>