p {
    color: #e47c4c;
}

nav {
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

.btn-group {
    padding-bottom: 40px;
    padding-top: 40px;
}

i {
    color: #f39f86;
    font-size: 50px;
    padding-right: 10px !important;
}

.navbar-brand {
    padding-right: 90px !important;
}

* {
    font-family: 'Roboto Mono', monospace;
}

.container {
    position: relative;
    width: 30%;
}

/* Make the image responsive */
.container img {
    width: 60%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container   .btn {
    position: absolute;
    top: 70%;
    left: 36%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f39f86 !important;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: #e47c4c !important;
}

.cim {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 60px;
    color: #e47c4c !important;
}

a {
    color: #e47c4c !important;
    font-size: 25px;
}

.menu {
    color: #e47c4c;
    font-weight: bold;
    text-align: center;
    width: 80%;

}

h1 {
    color: #e47c4c;
    font-weight: bold;

}

h2 {
    color: #e47c4c;
    font-weight: bold;
    margin-left: 10%;
}

h3 {
    color: #f89f38;
    font-weight: bold;
    margin-left: 10%;
}

h4 {
    color: #f89f38;
    font-weight: bold;

}

.icon {
    width: 20%;
}

.borito {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

.inputbox {
    width: 50%;
    color: #e47c4c;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

}

.center {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.ajanlat {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loginalap {
    border-style: outset;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.box {
    color: #e47c4c;
    border-style: outset;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
}

input[type=text], input[type=number], input[type=password], input[type=email], input[type=tel], select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    resize: none;
    max-height: 200px;
    height: 200px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

button:hover, input[type=submit]:hover {
    background-color: #e47c4c;
}

.logintable {
    color: #e47c4c;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    width: 80%;
}

#postcode {
    width: 30%;
}

#cityname {
    width: 70%;
}

#street {
    width: 50%;
}

#streetnumber {
    width: 20%;
}

#other {
    width: 30%;
}

.bigpage {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    background: rgb(217, 102, 53);
    color: white;
    font-weight: bold;
}

.bigprofilkep {
    width: 250px;
    float: left;
}

.left {
    float: left;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 50%;
    min-width: 40%;
    text-align: center;
    border-right: 6px solid rgb(217, 102, 53);


}

.right {
    float: right;
    padding-right: 10%;
    max-width: 50%;
    padding-left: 10%;

}

#sender_name {
    width: 48%;
    float: left;
}

#sender_email {
    width: 48%;
    float: right;
}

#sender_phonenumber {
    width: 48%;
    float: left;
}

#sender_subject {
    width: 48%;
    float: right;
}

#sender_text {

}

footer {
    clear: both;
    position: relative;
    height: 10%;
    margin-top: 0%;
    bottom: 0;
}

#passwd {
	width: 400px;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#secondsubmit {
	width: 400px;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#thirdsubmit {
	width: 400px;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#location {
	margin-left: 20px
}

#postcode {
	width: 80px;
}

#phone {
	width: 150px;
}

#street {
	width: 255px;
}

#streetnumber {
	width: 90px;
}

#other {
	width: 245px;
}

#secondsubmitbutton {
	margin-left: 6px
}