p {
	color: #e47c4c;
}
nav{
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
}

i{
    color: #f39f86;
    font-size: 50px;
    padding-right: 10px!important;
}

*{
    font-family: 'Roboto Mono', monospace;
}
a{
    color: #e47c4c!important;
    font-size: 25px;
}
.menu{
	color: #e47c4c;
	font-weight: bold;
	text-align: center;
	width: 80%;
	
}
h1{
	color: #e47c4c;
	font-weight: bold;
	
}
h2{
	color: #e47c4c;
	font-weight: bold;
	margin-left: 10%;
}
h3{
    color: #f89f38;
    font-weight: bold;
    margin-left: 10%;
}
h4{
    color: #f89f38;
    font-weight: bold;

}
.icon{
	width: 20%;
}
.borito{
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
html,body {
    margin:0;
    padding:0;
}
.inputbox{
	width: 50%;
	color: #e47c4c;
	font-weight: bold;
	margin-left: auto;
  margin-right: auto;
	
}
.center {
  margin: auto;
  width: 50%;
  text-align:center;
  padding: 10px;
}
.ajanlat{
	display: block;
	margin-left: auto;
    margin-right: auto;
}
.loginalap{
    border-style: outset;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.box{
	color: #e47c4c;
	border-style: outset;
	width: 30%;
	margin-left: auto;
    margin-right: auto;
	font-weight: bold;
	text-align: center;
}
input[type=text],input[type=number],input[type=password],input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit],button {
  width: 50%;
  background-color: #e4935a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
  font-size: 100%;
}
button:hover,input[type=submit]:hover {
  background-color: #e47c4c;
}
.logintable{
	color: #e47c4c;
	margin-left: auto;
    margin-right: auto;
	font-weight: bold;
	text-align: center;
	width: 80%;
}
#postcode{
	width:30%;
}
#cityname{
	width:70%;
}
#street{
	width:50%;
}
#streetnumber{
	width:20%;
}
#other{
	width:30%;
}
.bigpage{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    background: rgb(217, 102, 53);
    color:white;
    font-weight: bold;
}
.bigprofilkep{
    width:250px;
    float: left;
}