p {
	color: #e47c4c;
}

.menu{
	color: #e47c4c;
	font-weight: bold;
	text-align: center;
	width: 80%;

	
}
h1{
	color: #e47c4c;
	font-weight: bold;
	
}
h2{
	color: #e47c4c;
	font-weight: bold;
	margin-left: 10%;
}
h3{
    color: #f89f38;
    font-weight: bold;
    margin-left: 10%;
}
h4{
    color: #f89f38;
    font-weight: bold;

}
.icon{
	width: 20%;
}
.borito{
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
footer {
    text-align: center;
    color: white !important;
    background-color: #e47c4c;
    padding-bottom: 30px;
}
.tablebg {
    width:100%;
    min-width: 260px;
    min-height:200px;
    text-align: center;
    background-image:url('/pix/samples/bg1.gif');
    border:1px solid black;
}

html,body {
    margin:0;
    padding:0;
}
.inputbox{
	width: 30%;
	color: #e47c4c;
	font-weight: bold;
	margin-left: auto;
    margin-right: auto;
	
}
.center {
  margin: auto;
  width: 50%;
  text-align:center;
  padding: 10px;
}
.ajanlat{
	display: block;
	margin-left: auto;
    margin-right: auto;
}
.loginalap{
    border-style: outset;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.box{
	color: #e47c4c;
	border-style: outset;
	width: 30%;
	margin-left: auto;
    margin-right: auto;
	font-weight: bold;
	text-align: center;
}
input[type=text],input[type=number],input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit],button {
  width: 50%;
  background-color: #e4935a;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 
  font-size: 100%;
}

button:hover,input[type=submit]:hover {
  background-color: #e47c4c;
}
.logintable{
	color: #e47c4c;
	margin-left: auto;
    margin-right: auto;
	font-weight: bold;
	text-align: center;
	width: 80%;
}
#postcode{
	width:30%;
}
#cityname{
	width:70%;
}
#street{
	width:50%;
}
#streetnumber{
	width:20%;
}
#other{
	width:30%;
}
.bigpage{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
    color:rgb(217, 102, 53);
    font-weight: bold;
    font-size:200%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}
.bigprofilkep{
    width:250px;
    float: left;
}
.width70{
    width: 70%;
}
.container{
    padding:0.01em 16px
}
.panel{
    padding:0.01em 16px;
    margin-top:16px;
    margin-bottom:16px;
    margin-right: auto;
    margin-left: auto;
}
.round{
    border-radius:4px
}
.card{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.left{
    float:left!important
}
.right{
    float:right!important
}
.greyborder{
    color:#fff!important;
    background-color:#616161!important;
}
.redborder{
    color:#fff!important;
    background-color:#f44336!important;
}
.text-grey{
    color:#757575!important
}
.tag{
    background-color:#000;
    color:#fff;
    display:inline-block;
    padding-left:8px;
    padding-right:8px;
    text-align:center;
}
body{
    font-family:Verdana,sans-serif;
    font-size:15px;
    line-height:1.5;
}
.imgcenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.restaurant_cards {

    margin: 30px auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    font-family: sans-serif;
}

.restaurant_card{
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.card__image{
    width: 100%;
    display: block;
}

.card__content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: white;
}



.card__info{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    background-color: #D3D3D3;
    border-bottom: 2px solid #cccccc;
}