p {
	color: #e47c4c;
}

.menu{
	color: #e47c4c;
	font-weight: bold;
	text-align: center;
	width: 80%;
	
}
h1{
	color: #e47c4c;
	font-weight: bold;
	 margin-left: 5%;
}
.icon{
	width: 20%;
}
.borito{
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
html,body {
    margin:0;
    padding:0;
}
.inputbox{
	width: 50%;
	color: #e47c4c;
	font-weight: bold;
	margin-left: auto;
  margin-right: auto;
	
}